body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #C60C30;
    color: white;
}

h1 {
    margin: 0;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-box {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    overflow: hidden;
    width: 300px;
}

.image-box img {
    width: 100%;
    height: auto;
}

.image-box h2 {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
    color: #0B3B75;
}

.image-box p {
    padding: 0 10px 10px;
    text-align: justify;
    line-height: 1.5;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 20px;
    padding: 10px 0;
}
